.button-green {
	background-color: $green !important;
	color: white !important;
	border-radius: 36px !important;
	-webkit-border-radius: 36px !important;
	-moz-border-radius: 36px !important;
	-ms-border-radius: 36px !important;
	-o-border-radius: 36px !important;
	border: none !important;
	height: calc(66px - 20px) !important;
}
